{% extends "pizzas/base.html" %}

{% block page_header %}
<div class="jumbotron" style="background-color:#fffdd0">
    <h1 class="display-3">Order your favorite pizza!</h1>

    <p class="lead">Pizzeria has options for all pizza lovers! From Classic to Supreme we have something for everyone to
        enjoy!</p>

</div>

<style>
    body {
        background-image: url("https://st3.depositphotos.com/30857730/34603/v/380/depositphotos_346030130-stock-illustration-pizza-slice-pattern-design-pizza.jpg?forcejpeg=true");
    }
</style>


{% endblock page_header %}