{% extends "pizzas/base.html" %}

{% block content %}

<p><a href="{% url 'pizzas:pizza' pizza.id %}">{{ pizza }}</a></p>

<p>Add a new comment:</p>

<form action="{% url 'pizzas:new_comment' pizza.id %}" method='post'>
    {% csrf_token %}
    {{ form.as_p }}

    <button name="submit" style="background-color:#fffdd0; border-color:#fffdd0;color:#000000">
        Add comment</button>

</form>

<style>
    body {
        background-image: url("https://wallpapercave.com/uwp/uwp2207931.png");
    }
</style>

{% endblock content %}